<div class="jumbotron">
  <h3>Top 30 Hacker News Stories</h3>
</div>

<div class="row marketing" ng-show="loaded">
  <ul class="list-group">
    <li ng-repeat="story in topStories">
      <div class="info">
        <div class="storyTitle">
          <p class="title">{{story.title}}</p>
        </div>
        <div class="storyAuther">
          <p class="auther">By {{story.by}}</p>
        </div>
        <div class="storyUrl">
          <p class="url">Link to story: {{story.url}}</p>
        </div>
        <div class="storyScoreComments">
          <p class="score">Score: {{story.score}}</p>
          <p class="comments">{{story.descendants}} Comments</p>
        </div>
      </div>
    </li>
  </ul>
</div>
